body {
  /* display: flex; */
  /* width: 850px; */
}
panel {
  margin: 0px;
}

table {
  border-spacing:0; /* Removes cell spacing */
  border-collapse: collapse;
}

td {
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  padding: 0px;
  margin: 0px;
  border: 1px solid grey;
}

/* Color Picker */
.inp {
  border: 1px solid #949494;
  border-radius: 3px;
  padding: 10px;
  font-size: 110%;
 }

 .color-palette {
  height: 100px;
  width: 100px;
  background: red;
  display: none;
 }

 .palette {
  margin-top: 5px;
  width: 270px;
  height: 220px;
  background: black;
  border: 0px solid #bcbcbc;
  border-radius: 1px;
  display: none;
  padding: 1px;
  position: absolute;
  z-index: 1000;
 }
 .color-option {
  width: 18px;
  height: 18px;
  margin: 3px;
  cursor:pointer;
  float: left;
  border-radius: 4px;
 }

 #colorPicker {
  border-right: 10px solid #f9009A;
 }
 
 
